
/* BANNER  */
.banner {
  background: linear-gradient(
      to right,
      var(--bg-color),
      rgba(255, 255, 255, 0.92)
    ),
    url(../imgs/banner.jpg);
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}

.banner .banner__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner .banner__content .banner__left,
.banner .banner__content .banner__right {
  width: 50%;
}

.banner .banner__content .banner__left h2 {
  font-size: 50px;
  line-height: 57.5px;
  color: var(--title-color);
  font-weight: 700;
}

.banner .banner__content .banner__left p {
  color: var(--text-color);
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
  margin-bottom: 48px;
  margin-top: 16px;
}

.banner .banner__content .banner__left .button {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  color: var(--primary);
  border-color: var(--primary);
  transition: 0.3s ease-out;
}

.banner .banner__content .banner__left .button:hover {
  background-color: var(--primary);
  color: var(--bg-color);
}

.banner .banner__content .banner__right {
  padding-left: 15px;
}

/* TOOL  */
.tool {
  padding-bottom: 3rem;
  background-color: var(--bg-color);
}

.tool .tool__content .title {
  padding-top: 3rem;
}

.tool .tool__content {
  padding: 1rem 0;
}

.tool .tool__content .tool__down h3 {
  color: var(--title-color);
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}

.tool .tool__content .tool__item {
  padding: 0 15px;
  margin-top: 3rem;
}

.tool .tool__content .tool__item .tool__item--content {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  background: var(--light-bg-color);
  padding: 3rem 2rem;
  border: 1px solid var(--light-bg-color);
}

.tool .tool__content .tool__item .tool__item--content h3 {
  margin: 1rem 0;
}

.tool .tool__content .tool__item .tool__item--content p {
  margin-bottom: 0;
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
}

.tool .tool__content .tool__item .tool__item--content:hover {
  transition: 0.3s ease-in;
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}

/* ABOUT  */
.about {
  background-color: var(--light-bg-color);
}

.about .about__content {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 16px;
  padding-bottom: 64px;
  flex-wrap: wrap;
}

.about .title {
  text-align: left;
}

.about .about__content .about__left,
.about .about__content .about__right {
  width: 50%;
}

.about .about__content .about__left {
  padding-right: 3rem;
}

.about .about__content .about__left h3 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 1.5rem;
}

.about .about__content .about__left p {
  margin-bottom: 48px;
  line-height: 24.4px;
}

.about .about__content .about__left .button {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  color: var(--bg-color-light);
  border-color: var(--primary);
  transition: 0.3s ease-out;
  background-color: var(--primary);
}

.about .about__content .about__left .button:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.about .about__content .about__right {
  padding-left: 3rem;
}

.about .about__content .about__right img {
  width: 100%;
  border-radius: var(--card-curve);
}

.about .about__number {
  padding-bottom: 16px;
  padding-top: 24px;
}

.about .about__number .number__item {
  padding: 0 15px;
}

.about .about__number .item__content {
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
  transition: 0.3s ease;
  border: 1px solid var(--border-color-light);
}

.about .about__number .item__content:hover {
  box-shadow: var(--card-hover-box-shadow);
  transition: 0.3s ease;
}
.about .about__number h4 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: var(--title-color);
  font-weight: 700;
}

.about .about__number p.counter {
  font-size: 50px;
  line-height: 1;
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

.about .about__number p {
  margin-bottom: 0;
}

.about .about__number p:last-of-type {
  color: var(--text-color);
}

/* Commit  */
.commit {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url(../imgs/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 480px;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

.commit .container .commit__content {
  max-width: 550px;
}

.commit .container .commit__content h3 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.commit .container .commit__content p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.commit .container .commit__content .button {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  color: #212529;
  border-color: #f8f9fa;
  transition: 0.3s ease-out;
  background-color: #f8f9fa;
}

.commit .container .commit__content .button:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

/* Questions  */
.question {
  padding: 6rem 0;
  background-color: var(--light-bg-color);
}

.question .question__right,
.question .question__left {
  margin-top: 3rem;
}

.question .question__right {
  padding-left: 3rem;
  padding-right: 15px;
}

.question .question__left img {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.question .question__left img:hover {
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

.question .question__right ul {
  padding-left: 0;
}

.question .question__right ul li {
  list-style: none;
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid var(--border-color);
  margin: 0 0 15px 0;
  border-radius: var(--card-curve);
  background: var(--bg-color);
}

.question .question__right ul li h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: var(--title-color);
}

.question .question__right ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}

.question .question__right ul li i::before,
.question .question__right ul li i::after {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 3px;
  height: 9px;
}

.question .question__right ul li i::before {
  transform: translate(2px, 0) rotate(45deg);
}

.question .question__right ul li i::after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.question .question__right ul li p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  margin-bottom: 0;
  transition: all 0.25s ease-in-out;
}

.question .question__right input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-appearance: none;
}

.question .question__right input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

/* Feature  */
.feature {
  background-color: var(--bg-color);
}

.feature ul,
p {
  padding: 0px;
}

.feature ul li {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  color: var(--title-color);
  background: var(--bg-color) !important;
  border-bottom: 3px solid #eee;
}

.feature ul li img {
  margin-right: 30px;
}

.resp-tabs-container {
  padding: 0px;
  background-color: var(--bg-color);
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border-bottom: none;
  margin-bottom: -1px !important;
  border-bottom: 3px var(--primary) solid !important;
  color: var(--primary) !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border-top-color: #5ab1d0;
}

h2.resp-accordion {
  font-size: 20px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

.resp-vtabs .feature ul {
  float: left;
  width: 30%;
}

.resp-vtabs .feature ul li {
  display: block;
  padding: 15px 15px !important;
  margin: 0 0 4px;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-tabs-container h3 {
  color: var(--title-color);
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.resp-tabs-container p {

  color: var(--text-color);
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24.5px;
}

.feature .feature-content.resp-tab-content {
  padding-top: 35px !important;
}

.feature a {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  color: var(--primary);
  border-color: var(--primary);
  transition: 0.3s ease-out;
  background: transparent;
  margin-right: 8px;
}

.feature a:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--bg-color) !important;
}

.feature img {
  border-radius: var(--card-curve);
}

.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
  border-top: 1px solid;
  border: 1px solid #5ab1d0 !important;
  border-left: 4px solid #5ab1d0 !important;
  margin-bottom: 4px !important;
  border-right: 1px #fff solid !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9b9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
  background: #dbdbdb;
  border-bottom: 3px var(--primary) solid !important;
  /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
  display: block;
}

.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;
  /* !important;*/
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1;
  /* !important;*/
}



/* Feedback */
.feedback {
  background: linear-gradient(
      to right,
      var(--bg-color),
      rgba(255, 255, 255, 0.77)
    ),
    url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 3rem 0;
}

.feedback .feedback__content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.feedback .feedback__content .feedback__bottom .feedback__info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: var(--bg-color);
  border-radius: var(--card-curve);
  margin-top: 1.5rem;
}

.feedback .feedback__content .feedback__bottom .feedback__info .feedback__img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid var(--primary);
}

.feedback .feedback__content .feedback__bottom .feedback__comment {
  position: relative;
}

.feedback .feedback__content .feedback__bottom .feedback__comment i {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.feedback .feedback__content .feedback__bottom .feedback__comment p {
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color);
  margin-bottom: 0;
}

.feedback
  .feedback__content
  .feedback__bottom
  .feedback__comment
  .feedback__name {
  padding-top: 1.5rem;
}

.feedback
  .feedback__content
  .feedback__bottom
  .feedback__comment
  .feedback__name
  h4 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 0;
}

.feedback
  .feedback__content
  .feedback__bottom
  .feedback__comment
  .feedback__name
  p {
  font-size: 13px;
  color: var(--text-color);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  padding: 0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: var(--bg-color);
  display: block;
  border: none;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
}

.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span {
  background: var(--primary);
}


@media screen and (max-width: 991px) {


  /* Banner  */
  .banner .banner__content .banner__left {
    width: 100%;
  }

  .banner .banner__content .banner__right {
    width: 100%;
    margin-top: 3rem;
  }
  .feature .feature__bottom .tab-content .row {
    max-width: 100%;
  }
  .feature .feature__bottom .nav-pills {
    max-width: 100%;
  }
  .feature .feature__bottom .tab-content .row .feature__left h3 {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 33px;
  }

}

@media screen and (max-width: 767px) {
  .question .question__left,
  .question .question__right {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
 
  .feature ul {
    display: none;
  }
  h2.resp-accordion {
    border: none;
    border-bottom: 1px solid #c1c1c1;
    display: block;
  }
  h2.resp-accordion:first-child {
    border-top: none;
  }
  .resp-tabs-container {
    border: 1px solid #f5f5f5;
  }
  .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1;
  }
  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }
  .feature h2 {
    background-color: var(--bg-color) !important;
    color: var(--title-color);
  }
  .resp-accordion-closed {
    display: none !important;
  }
  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
  .feature ul li {
  }
}

@media screen and (max-width: 575px) {
 
  .about .about__content .about__left,
  .about .about__content .about__right {
    width: 100%;
  }

  .about .about__content .about__right {
    margin-top: 3rem;
    padding-left: 0;
  }
}

@keyframes fadeInDown {
  to {
    opacity: 0;
    max-height: 0;
  }
  from {
    opacity: 1;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .resp-tab-content {
    padding: 0 15px;
  }
  .resp-arrow {
    margin-top: 3px;
  }
}